.page__menu{
    width: fit-content;
    right: 0;
    position: fixed;
    top:0;
    z-index: 2;
    background-color: rgba(2, 32, 49, 0.9);
    @media all and (min-width:768px) {
        width: 100%;
        display: flex;
        align-items: center;

    }
}

.menu__button{
    width: 40px;
    height: 40px;
    background: url('../../images/ico-menu.svg') no-repeat center;
    background-size: contain;
    border:0;
    color:transparent;
    font-size: 1px;
    cursor: pointer;
    @media all and (min-width:768px) {
     display: none;
    }
}

.menu__button--open{
    background: url('../../images/ico-close.svg') no-repeat center;
    background-size: contain;
}

.page__menu-list{
    list-style: none;
    display: none;
    @media all and (min-width:768px) {
        display: flex;
        justify-content: center;
        flex-grow: 1;   
    }
}

.menu__item{
    padding: 0 15px;

    & a{
    text-decoration: none;
    color: #ffffff;
        &:hover{
            font-weight: 700;
        } 
    }
}