.page__decoration {
        display: block;
        font-size: 14px;
        color: rgba(109, 186, 140, 0.3);
        overflow: hidden;
        @media all and (min-width:768px) {
            font-size: 20px;    
        }
}
