.page__decoration {
    display: none;
    @media all and (min-width:768px) {
        display: block;
        font-size: 20px;
        color: rgba(109, 186, 140, 0.2);
        position: absolute;
        z-index: 5;
    }
}