.page__contact{
    background: url('../../images/background-img.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size:cover;
    padding: 50px;
}

.contact-title{
    color: white;
    border-bottom: 1px solid white;
    margin: 0 auto 10px;
    width: fit-content;
}

.contact__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    color: white;
    @media all and (min-width:768px) {
        width: 700px;
    }
    @media all and (min-width:1280px) {
        width: 900px;
    }
}

.contact__item{
    background-color:rgba(2, 32, 49, 0.8);
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    @media all and (min-width:1280px) {
        margin: 20px;
    }
    &:hover{
        background-color:rgb(1, 14, 22);

    }
}

.contact__link{
    text-decoration: none;
    color: inherit;
    &:hover{
        transform: scale(1.02);
    }
}

.contact__ico{
    width: 40px;
    padding-right: 10px;
}

.ico__text{
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;

    @media all and (min-width:768px) {
        font-size: 16px;
    }
}