.page__header{
    height: 100vh;
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background: #0c283f;
    background: url('../../images/background-img.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size:cover;
    overflow: hidden;
}

.header__hero{
    font-family: 'Montserrat', sans-serif;
    background-color:rgba(2, 32, 49, 0.8);
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    width: fit-content;
    @media all and (min-width:768px) {
        font-size: 50px;    
    }
}

.page__header-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    @media all and (min-width:768px) {
        margin-left: 5px;   
    }
}

.sub{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.header__ico{
    width: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-80%);
    
    @media all and (min-width:768px) {
        width: 40px;
    }
}